body {
  background-color: #f2f4f6;
  color: #000000;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

a,
a[href],
a:hover,
a:link,
a:visited {
  /* This is the link colour */
  text-decoration: none !important;
  color: #000000;
}

.link {
  text-decoration: underline !important;
}

p,
p:visited {
  /* Fallback paragraph style */
  font-size: 15px;
  line-height: 24px;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}

h1 {
  /* Fallback heading style */
  font-size: 22px;
  line-height: 24px;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td {
  line-height: 100%;
}

.ExternalClass {
  width: 100%;
}
