:root {
  --font-family: "Helvetica", Arial, sans-serif;
  --bg-color: #f2f4f6;
  --txt-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

a,
a[href],
a:hover,
a:link,
a:visited {
  text-decoration: none !important;
  color: var(--txt-color);
}

p,
p:visited {
  /* Fallback paragraph style */
  font-size: 15px;
  line-height: 24px;
  font-family: var(--font-family);
  font-weight: 300;
  text-decoration: none;
  color: var(--txt-color);
}

h1 {
  /* Fallback heading style */
  font-size: 22px;
  line-height: 24px;
  font-family: var(--font-family);
  font-weight: normal;
  text-decoration: none;
  color: var(--txt-color);
}

.container {
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  width: 600px;
  max-width: 100%;
}

/* ---------- Header ---------- */
.header-table {
  background-color: #fafafa;
  border-bottom: 2px solid #f2f4f6;
}

.header-data {
  vertical-align: top;
  padding: 15px 0;
}

.header-logo {
  max-width: 80px;
  width: 80px;
  height: 70px;
  max-height: 70px;
  text-align: center;
}

/* ---------- Content ---------- */

.content-table {
  text-align: justify;
  background-color: #ffffff;
}

.content-data {
  width: 596px;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.content-signature {
  font-size: 15px;
  line-height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  text-decoration: none;
}

/* ---------- Footer ---------- */

.footer-image {
  margin: auto;
  display: block;
  width: 600px;
  max-width: 600px;
  height: 240px;
  max-height: 240px;
}

.top-footer-table {
  background-color: #000000;
}

.bottom-footer-table {
  background-color: #ffffff;
}

.footer-data {
  width: 596px;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo {
  width: 180px;
  max-width: 180px;
  height: 85px;
  max-height: 85px;
  text-align: center;
}

.footer-address {
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.footer-meta {
  font-family: var(--font-family);
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  color: var(--txt-color);
}
